<script>
   socket = io.connect('http://127.0.0.1', { port: 8081, rememberTransport: false});
   console.log('oi');
   socket.on('connect', function() {
        // sends to socket.io server the host/port of oscServer
        // and oscClient
        socket.emit('config',
            {
                server: {
                    port: 3333,
                    host: '127.0.0.1'
                },
                client: {
                    port: 3819,
                    host: '127.0.0.1'
                }
            }
        );
    });

    socket.on('message', function(obj) {
        var status = document.getElementById("status");
        status.innerHTML = obj[0];
        console.log(obj);
    });
</script>

<button class="btn btn-default" onclick="socket.emit('message', '/ardour/transport_play');">Play</button>
<br>
<button class="btn btn-default" onclick="socket.emit('message', '/ardour/transport_stop');">Stop</button>
<br>
<button class="btn btn-default" onclick="socket.emit('message', '/ardour/goto_start');">Go to Start</button>
<br>

